body {
}

.splash {
    background: url('../images/splash.png') center center;
    background-size: cover;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    min-height: 360px;
    z-index: 999;
    text-align: center;
}

/*.bar-header {
    background-image: url('../images/MyFileIT_Icon.png');
}*/
.bar-header {
    background-image: url('../images/title-bg.png') !important;
    background-repeat: repeat-x;
    border-bottom: 1px solid #0c60ee;
}

.nav-bar-title a.left-icon {
    position: absolute;
    left: 0px;
    top: 0px;
}

.nav-bar-title a.right-icon {
    position: absolute;
    right: 0px;
    top: 0px;
}

.nav-bar-title a > img {
    height: 2em;
}

.nav-bar-title div {
    text-align: center;
}

.clear {
    clear: both;
}

.login-form {
    /*background-image: url('../images/main-bg.png') !important;
    background-repeat: no-repeat;*/
    /*background: url('../images/main-bg.png') no-repeat center center fixed !important;*/
    /*background-size: 100%;*/
}

    .login-form img {
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0px;
        top: 0px;
        bottom: 0px;
        right: 0px;
    }

.title img {
    float: left;
    height: 80%;
    margin: 5px;
}

.title label {
}

.view-bottom {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.full-height {
    height: 100%;
}

.scroll-content {
    background: url('../images/bg.png') no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover; /* Mozilla*/
    -o-background-size: cover; /* Opera*/
    background-size: cover;
}

/*.confirm-box {
    width: 30%;
    height: 2em;
}*/

.image-list img {
    width: 6em;
    float: left;
    margin-right: .2em;
}

.image-list a {
    float: left;
    margin-right: .2em;
}

.left {
    float: left;
}

.large-icon {
    font-size: 4em !important;
}

.medium-icon {
    font-size: 2em;
}

.blue {
    color: blue;
}

.green {
    color: green;
}

.red {
    color: red;
}

.logo {
    text-align: center;
}

    .logo img {
        width: 4em;
    }

/*this was for angular bootstrap*/
/*.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }*/

.document-slider {
    /*width: 90%;
    height: 60%;
    background-color: red;*/
}

    .document-slider .popup-body {
        height: 90%;
        width: 90%;
    }

    .document-slider .popup {
        height: 65%;
        width: 70%;
    }

    .document-slider img {
        width: 100%;
    }

.family-card {
    width: 1em;
    float: left;
    margin: .5em !important;
    border: 1px solid #808080;
    padding: .5em !important;
    text-align: center;
    width: 42%;
    background-color: #ffffff;
}

    .family-card a {
        text-decoration: none;
    }

.member-card {
    border: solid 1px #808080;
    padding: .5em;
    background-color: #ffffff;
}

    .member-card i.sex {
        position: absolute;
        left: .5em;
        top: .5em;
    }

    .member-card div.header {
        margin-left: 5em;
        padding-top: .5em;
    }

.member-thumbs {
}

.member-thumb {
    float: left;
    width: 5.5em;
    padding: 0em;
    min-height: 5.5em;
    /*border: solid 1px #808080;*/
}

    .member-thumb img {
        width: 100%;
    }

    .member-thumb.add {
        padding-top: .3em;
        text-align: center;
        width: 100%;
    }

        .member-thumb.add a {
            float: left;
            width: 45%;
        }

/*************POPUP FOR IMAGE     *******/
.image-list-thumb {
    padding: 2px 2px 2px 2px;
    height: 100px;
}

.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}

.transparent {
    background: transparent !important;
}

.fullscreen-image {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
}

.slider {
    width: 100%;
    height: 100%;
}
