<?xml version="1.0" encoding="utf-8"?>
<widget xmlns:cdv="http://cordova.apache.org/ns/1.0"
        xmlns:vs="http://schemas.microsoft.com/appx/2014/htmlapps"
        id="com.myfileit.app"
        version="1.0.0"
        xmlns="http://www.w3.org/ns/widgets">
  <name>MyFileIT Documents</name>
  <description>MyFileIT document sharing and storage.</description>
  <author href="http://cordova.io" email="dev@cordova.apache.org">J Osifchin</author>
  <content src="index.html" />

  <access origin="*" />
  <preference name="SplashScreen" value="screen" />
  <preference name="AutoHideSplashScreen" value="false" />
  <preference name="SplashScreenDelay" value="1" />

  <preference name="windows-target-version" value="8.0" />
  <preference name="windows-phone-target-version" value="8.1" />
  <preference name="Orientation" value="portrait" />
  <preference name="Fullscreen" value="false" />
  <vs:plugin name="org.apache.cordova.camera" version="0.3.2" />
  
  <vs:plugin name="cordova-plugin-inappbrowser" source="npm" />
 
  <vs:platformSpecificValues />

  <plugin name="cordova-plugin-whitelist" version="1"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="tel:*"/>
  <allow-intent href="sms:*"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="geo:*"/>

  <splash src="splash.png" />
  <vs:splash src="splash.png" vs:platform="ios" width="640" height="1136" />
  <vs:splash src="screen-hdpi-portrait.png" vs:platform="android"/>
  <!--<splash qualifier="ldpi" platform="android" src="res/screens/android/screen-ldpi-portrait.png" />
  <splash qualifier="mdpi" platform="android" src="res/screens/android/screen-mdpi-portrait.png" />
  <splash qualifier="hdpi" platform="android" src="res/screens/android/screen-hdpi-portrait.png" />
  <splash qualifier="xhdpi" platform="android" src="res/screens/android/screen-xhdpi-portrait.png" />-->



  <platform name="android">
    <icon src="icon.png" />
  </platform>
  <platform name="ios">
    <icon src="icon.png" />
  </platform>
  <platform name="winphone">
    <icon src="icon.png" />
  </platform>

</widget>