<?xml version="1.0" encoding="utf-8"?>
<widget xmlns:cdv="http://cordova.apache.org/ns/1.0"
        xmlns:vs="http://schemas.microsoft.com/appx/2014/htmlapps"
        id="com.myfileit.app"
        version="1.0.7"
        xmlns="http://www.w3.org/ns/widgets">
  <name>MyFileIT Documents</name>
  <description>MyFileIT document sharing and storage.</description>
  <author href="http://cordova.io" email="dev@cordova.apache.org">J. Osifchin</author>
  <content src="index.html" />

  <access origin="*" />
  <preference name="SplashScreen" value="splash" />
  <preference name="AutoHideSplashScreen" value="false" />
  <preference name="SplashScreenDelay" value="1" />

  <preference name="deployment-target" value="6.1" />
  <preference name="windows-target-version" value="8.0" />
  <preference name="windows-phone-target-version" value="8.1" />
  <preference name="Orientation" value="portrait" />
  <preference name="Fullscreen" value="false" />
  
  <plugin name="cordova-plugin-whitelist" version="1"/>
  <vs:plugin name="cordova-plugin-inappbrowser" source="npm" />
  <!--  <plugin name="cc.fovea.plugins.inapppurchase" spec="3.4.0" source="pgb" /> -->
  
   <vs:plugin name="org.apache.cordova.camera" />
   <!-- <plugin name="com.admob.google" spec="4.0.8" source="pgb" /> -->

 <!--DO NOT USE -->
  <!-- <vs:plugin name="org.apache.cordova.camera" version="0.3.2" /> -->
 <!-- <plugin name="ch.zhaw.sqlite" spec="2.0.0" source="pgb" />-->
  
  <vs:platformSpecificValues />

  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="tel:*"/>
  <allow-intent href="sms:*"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="geo:*"/>

  <!--<splash src="splash.png" />-->
  <vs:splash src="splash.png" />
  <vs:splash src="splash.png" vs:platform="ios" width="640" height="1136" />

  <platform name="android">
    <icon src="icon.png" />
  </platform>
  <platform name="ios">
    <icon src="resources/images/icons/ios/MyFileIt_icon72_72.png" width="72"  height="72"  />
    <icon src="resources/images/icons/ios/MyFileIT_icon57_57.png"  width="57" height="57"/>
    <icon src="resources/images/icons/ios/MyFileIt_icon72_72.png" width="76"  height="76"  />
    <icon src="resources/images/icons/ios/MyFileIT_icon120_120.png"  width="120" height="120"/>
    <icon src="resources/images/icons/ios/MyFileIT_icon120_120.png"  width="152" height="152"/>
    <icon src="icon.png" />
  </platform>
  <platform name="winphone">
    <icon src="icon.png" />
  </platform>

</widget>