<?xml version="1.0" encoding="utf-8"?>
<widget xmlns:cdv="http://cordova.apache.org/ns/1.0"
        xmlns:vs="http://schemas.microsoft.com/appx/2014/htmlapps"
        id="com.myfileit.app"
        version="1.0.9"
        xmlns="http://www.w3.org/ns/widgets">
  <name>MyFileIT PE</name>
  <description>MyFileIT document sharing and storage. Personal and expenses.</description>
  <author href="http://cordova.io" email="dev@cordova.apache.org">J Osifchin</author>
  <content src="index.html" />

  <access origin="*" />
  <preference name="SplashScreen" value="splash" />
  <preference name="AutoHideSplashScreen" value="false" />
  <preference name="SplashScreenDelay" value="10000" />

  <preference name="deployment-target" value="6.1" />
  <preference name="windows-target-version" value="8.0" />
  <preference name="windows-phone-target-version" value="8.1" />
  <preference name="Orientation" value="portrait" />
  <preference name="Fullscreen" value="false" />


  <plugin name="cordova-plugin-whitelist" version="1"/>
  <vs:plugin name="cordova-plugin-inappbrowser" source="npm" />
  <vs:plugin name="org.apache.cordova.camera" >
      <variable name="CAMERA_USAGE_DESCRIPTION" value="App would like to access the camera." />
	  <variable name="MICROPHONE_USAGE_DESCRIPTION" value="App would like to access the microphone." />
	  <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION" value="App would like to access the library." />
  </vs:plugin>
  <vs:plugin name="cc.fovea.cordova.purchase" source="npm" version="6.0.0" >
	<param name="BILLING_KEY" value=""/>
  </vs:plugin>
    <vs:plugin name="phonegap-admob" source="npm" />

<!--     <plugin name="org.apache.cordova.splashscreen" spec="1.0.0" source="npm" />  -->
    

  <!--DO NOT USE -->
  <!-- <vs:plugin name="org.apache.cordova.camera" version="0.3.2" /> -->
  <!-- <plugin name="ch.zhaw.sqlite" spec="2.0.0" source="pgb" />-->
  <!--   <vs:plugin name="cc.fovea.plugins.inapppurchase" spec="3.4.0" source="pgb" /> -->
  <!-- <plugin name="com.admob.google" spec="4.0.8" source="pgb" /> -->

  <vs:platformSpecificValues />

  <plugin name="cordova-plugin-whitelist" version="1"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="tel:*"/>
  <allow-intent href="sms:*"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="geo:*"/>


  <!--SPLASH SCREENS-->
  <vs:splash src="splash.png" />
  <!--Android-->
  <vs:splash src="resources/splash.png" vs:platform="android" />

  <!-- iOS-->
  <!--iphone6-->
  <vs:splash src="res/screens/ios/splash_iphone6.png" vs:platform="ios" width="750" height="1334" />
  <!--iphone6+-->
  <vs:splash src="res/screens/ios/splash_iphone6plus.png" vs:platform="ios" width="1242" height="2208" />
  <!--iphone5-->
  <vs:splash src="res/screens/ios/splash_iphone5.png" vs:platform="ios" width="640" height="1136" />
  <!--ipad non-retina -->
  <vs:splash src="res/screens/ios/splash_ipad.png" vs:platform="ios" width="768" height="1024" />
  <!--ipad retina -->
  <vs:splash src="res/screens/ios/splash_ipadretina.png" vs:platform="ios" width="1536" height="2048" />
  <!--ipod non-retina -->
  <vs:splash src="res/screens/ios/splash_ipod.png" vs:platform="ios" width="320" height="480" />
  <!--ipod non-retina -->
  <vs:splash src="res/screens/ios/splash_ipodretina.png" vs:platform="ios" width="640" height="960" />

  <!-- WinPhone -->
  <vs:splash src="resources/splash.png" vs:platform="winphone" />

  <icon src="resources/images/icons/ios/MyFileIt_icon72_72.png" platform="ios" width="72"  height="72"  />
  <icon src="resources/images/icons/ios/MyFileIt_icon72_72.png" platform="ios" width="144"  height="144"  />
  <icon src="resources/images/icons/ios/MyFileIT_icon57_57.png"  platform="ios" width="57" height="57"/>
  <icon src="resources/images/icons/ios/MyFileIt_icon76_76.png" platform="ios" width="76"  height="76"  />
  <icon src="resources/images/icons/ios/MyFileIT_icon120_120.png" platform="ios"  width="120" height="120"/>
  <icon src="resources/images/icons/ios/MyFileIT_icon152_152.png" platform="ios"  width="152" height="152"/>

  <platform name="android">
    <icon src="icon.png" />
  </platform>
  <platform name="ios">
    <!--<icon src="resources/images/icons/ios/MyFileIt_icon72_72.png" width="72"  height="72"  />
    <icon src="resources/images/icons/ios/MyFileIT_icon57_57.png"  width="57" height="57"/>
    <icon src="resources/images/icons/ios/MyFileIt_icon72_72.png" width="76"  height="76"  />
    <icon src="resources/images/icons/ios/MyFileIT_icon120_120.png"  width="120" height="120"/>
    <icon src="resources/images/icons/ios/MyFileIT_icon120_120.png"  width="152" height="152"/>-->
    <icon src="icon.png" />
  </platform>
  <platform name="winphone">
    <icon src="icon.png" />
  </platform>

</widget>