<ion-view title="Add Family Members">
    <ion-nav-title>
        <fileit-header fileit-title="About MyFileIT" hide-logout="false"></fileit-header>
    </ion-nav-title>
    <ion-content padding="'true'" class="has-header">
        <table>
            <tr>
                <td>Version</td>
                <td>{{data.version}}</td>
            </tr>
        </table>
        <h3>Terms and Conditions</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ornare pretium sem, sed ullamcorper arcu fringilla non. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce sem ipsum, egestas non volutpat sit amet, eleifend ut augue. Phasellus porttitor, risus id faucibus gravida, neque odio maximus felis, sit amet viverra nunc ligula nec dolor. Maecenas eget feugiat ligula. Mauris id pulvinar nulla. Aenean scelerisque condimentum massa, et tincidunt elit pharetra sit amet. Praesent quis est dapibus, malesuada urna quis, eleifend ante. Maecenas laoreet rhoncus felis, vitae interdum odio pharetra vitae. Nunc erat libero, sagittis vel imperdiet vitae, tempus ut magna. Ut ornare augue sed luctus porta. Quisque accumsan iaculis ultrices. Donec quis aliquam tortor. Integer vel velit sed dui viverra aliquam nec vel nulla. Aenean lacinia odio ligula, eu porta leo porta sit amet. Nam efficitur augue ac mollis dignissim.
        </p>
        <p>
            Donec quis dui enim. Sed pharetra justo efficitur massa vestibulum consectetur. Donec auctor at velit imperdiet egestas. Aliquam blandit aliquet pulvinar. Nullam imperdiet, justo eget pellentesque dictum, massa nulla tincidunt erat, a volutpat nisl ex at odio. Nullam pulvinar enim sed erat scelerisque, nec vehicula velit sollicitudin. Phasellus maximus ipsum elementum, accumsan velit eget, condimentum odio. Etiam faucibus eu libero vitae auctor. Nam ultrices tristique orci, non rutrum magna viverra in. Vestibulum imperdiet turpis eu volutpat feugiat. Nunc consequat eros quis lorem mattis suscipit. Nunc vel est consectetur, blandit magna eu, egestas lectus.
        </p>
    </ion-content>
</ion-view>