<ion-view title="Add Family Members">
    <ion-nav-title>
        <fileit-header ng-show="data.adding" fileit-title="Add Family Members" hide-logout="false"></fileit-header>
        <fileit-header  ng-hide="data.adding" fileit-title="Update Family Members" hide-logout="false"></fileit-header>
    </ion-nav-title>
    <ion-content padding="'true'" class="has-header">
        <form class="list">
            <ion-list>
                <!--<label class="item item-input" name="username">
                    <input type="text" placeholder="User Name" ng-model="data.userName">
                </label>
                <label class="item item-input" name="NewPassword">
                    <input type="password" placeholder="Password" ng-model="data.password">
                </label>-->
                <label class="item item-input" name="firstname">
                    <input type="text" placeholder="First Name" ng-model="data.firstName">
                </label>
                <label class="item item-input" name="lastname">
                    <input type="text" placeholder="Last Name" ng-model="data.lastName">
                </label>
            </ion-list>
            
            <label class="item item-select" name="relationship">
                <span class="input-label">Relationship</span>
                <select ng-model="data.relationShipTypeId">
                    <option ng-repeat="relationShipType in data.relationShipTypes" ng-selected="relationShipType.Key == data.relationShipTypeId" value="{{relationShipType.Key}}">{{relationShipType.Value}}</option>
                </select>
            </label>
            <label class="item item-input" name="phonenumber">
                <input type="text" placeholder="Mobile Phone Number" ng-model="data.phoneNumber">
            </label>
            <label class="item item-input" name="emailaddress">
                <input type="text" placeholder="Email Address" ng-model="data.emailAddress">
            </label>
            <label class="item item-select" name="sex">
                <span class="input-label">Gender</span>
                <select ng-model="data.sex">
                    <option value=""></option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                </select>
            </label>
        </form>

        <a menu-close="" href="#" class="button button-positive button-block  button-full" ng-show="data.adding" ng-click="addFamilyMember()">Add new family member</a>
        <a menu-close="" href="#" class="button button-positive button-block  button-full" ng-hide="data.adding" ng-click="addFamilyMember()">Update family member</a>
        <a menu-close="" href="#" ng-click="goToMain()" class="button button-positive button-block ">Back</a>

        <!--<form class="list">
            <h3>Current Members</h3>
            <ion-item ng-repeat="familyUser in data.familyUsers">
                <i class="medium-icon icon-left ion-ios-person-outline green">&nbsp;</i>
                {{familyUser.FIRSTNAME}}&nbsp;{{familyUser.LASTNAME}}
            </ion-item>
        </form>-->

    </ion-content>
</ion-view>