<ion-view title="Confirm Document Share">
    <ion-nav-title>
        <fileit-header fileit-title="Confirm Document Share" hide-logout="false"></fileit-header>
    </ion-nav-title>
    <ion-content padding="'true'" class="has-header">
        <h4>You are going share {{data.associatedCount}} Documents with organization {{data.organizationName}}</h4>
        <div>
            <p>*Unless you declare Document emergency you only may share with user that are register.</p>
        </div>
        <ion-item ng-repeat="document in data.eventDocuments" ng-show="document.associated">
            <div ng-show="document.associated">
                <div class="image-list">
                    <img src="data:image/png;base64,{{document.Base64ImageThumb}}" />
                </div>
                <div class="left">
                    <h2>{{document.DOCUMENTNAME}}</h2>
                </div>
                <div class="clear"></div>
            </div>
        </ion-item>
        <div>
            <p>
                Message with the share
            </p>
        </div>
        <form class="list">
            <label class="item item-input" name="shareComment">
                <span class="input-label">Text</span>
                <textarea placeholder="enter text..." ng-model="data.comment"> </textarea>
            </label>
        </form>
        <a menu-close="" href="#" class="button button-positive button-block " ng-click="shareDocuments()">Confirm</a>    
        <a menu-close="" href="#/shareassociate" class="button button-positive button-block ">Back</a>
        
    </ion-content>
</ion-view>