<ion-view title="Confirm Document">
    <ion-content padding="'true'" class="has-header">
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; width: 100%; height: auto; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <a menu-close="" href="#/uploadsuccess" class="button button-positive button-block  icon-left ion-android-cloud-circle">Upload Document</a>
        <a menu-close="" href="#/maintab/main" class="button button-positive button-block  icon-left ion-android-close">Cancel</a>
    </ion-content>
</ion-view>