
    <ion-content padding="'true'" class="has-header">
        Select a document by sliding the images left and right. Then click "Associate".
        <ion-slide-box on-slide-changed="slideHasChanged($index)">
            <ion-slide ng-repeat="associateImage in data.associatedImages" repeat-done="repeatDone()">
                <div>
                    <a href="#">
                        <img src="data:image/png;base64,{{associateImage.Base64ImageThumb}}" />
                    </a>
                </div>
            </ion-slide>
        </ion-slide-box>
        <div class="slide-box-footer">
            Swipe to view other images <>
        </div>
    </ion-content>
