<ion-view title="Edit Account User">
    <ion-content padding="'true'" scroll="false" class="has-header">
        <form class="list"></form>
        <form class="list">
            <ion-list>
                <label class="item item-input" name="firstname">
                    <input type="text" placeholder="First Name">
                </label>
                <label class="item item-input" name="lastname">
                    <input type="text" placeholder="Last Name">
                </label>
            </ion-list>
            <ion-checkbox name="primaryaccountholder">Primary Account Holder</ion-checkbox>
        </form>
        <a menu-close="" href="#/newaccountsuccess" class="button button-positive button-block ">Update</a>
        <div class="spacer" style="height: 100px;"></div>
        <a menu-close="" href="#/maintab/Settings" class="button button-positive button-block ">Back</a>
    </ion-content>
</ion-view>