<ion-view title="Confirm Upload Document">
    <ion-nav-title>
        <fileit-header fileit-title="Emergency Share" hide-logout="false"></fileit-header>
    </ion-nav-title>
    <ion-content padding="'true'" class="has-header">
        <!-- fix simple thumb display-->
        <div id="image-list-emergency">
            <ul>
                <li ng-repeat="image in data.selectedImages">
                    <p><strong>{{image.DocumentTypeName}}</strong><br/>
                    {{image.COMMENT}}</p>
                </li>
            </ul>
            <!--<div ng-repeat="image in data.selectedImages">
                <img src="data:image/png;base64,{{image.Base64ImageThumb}}" />
            </div>-->
        </div>
        
        <div class="clear"></div><form class="list">
            <ion-list>
                <label class="item item-input" name="emergencyEmail">
                    <span class="input-label">Email</span>
                    <input type="text" placeholder="Emergency Email" ng-model="data.emergencyEmailAddress">
                </label>
                <span class="input-label">Message</span>
                <label class="item item-input" name="emergencyMessage">
                    <textarea placeholder="Enter message here..." ng-model="data.emailMessage"> </textarea>
                </label>

            </ion-list>
        </form>

        <div class="confirm-box clear">
            <ion-checkbox ng-model="data.confirmed">
                <div>IN CASE OF EMERGENCY -If this box is marked you are declaring a state of emergency and you may email anyone your documents in or out of this protected environment of Myfileit. This should only be used In case of an emergency</div>
            </ion-checkbox>
        </div>

        <a menu-close="" href="#" class="button button-assertive button-block icon-left ion-alert-circled" ng-click="sendEmergencyShare()">Send Emergency Share</a>
        <!--<a menu-close="" href="#/main" class="button button-positive button-block ">Back</a>-->
        <p>*The above check box must be checked</p>
        <div>
            <p>
                *You must have a Share Key to use this option unless the above box is marked that there's a state of emergency. You will be able to share documents with out paying but you will be billed per user per year for a share key.
            </p>
        </div>
    </ion-content>
</ion-view>


<!--<ion-view title="Emergency Share">
    <ion-nav-title>
        <fileit-header fileit-title="Emergency Share" hide-logout="false"></fileit-header>
    </ion-nav-title>
    <ion-content padding="'true'" class="has-header">
        <form class="list"></form>
        <form class="list"></form>
        <div>
            <p>IN CASE OF EMERGENCY -If this box is marked you are declaring a state of emergency and you may email anyone your documents in or out of this protected environment of Myfileit. This should only be used In case of an emergency</p>
        </div>
        <form class="list">
            <ion-checkbox name="chkemergency">This is an emergency</ion-checkbox>
            <label class="item item-input" name="emergencyEmailAddress">
                <span class="input-label">Email Address</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" name="emergencyMessage">
                <span class="input-label">Message</span><textarea placeholder="Enter Text Here..."> </textarea>
            </label>
        </form>
        <div class="button-bar">
            <a menu-close="" href="#/page26/sharedocuments" class="button button-positive button-block ">Back</a>
            <a menu-close="" href="#/shareSent" class="button button-positive button-block ">*Share</a>
        </div>
        <p>*The above check box must be checked</p>
        <div>
            <p>
                *You must have a Share Key to use this option unless the above box is marked that there's an state of emergency. You will be able to share document with out paying but you will be billed $3.99 per user per year for a share key
            </p>
        </div>
    </ion-content>
</ion-view>-->
