<ion-view title="Emergency Share">
    <ion-content padding="'true'" class="has-header">
        <form class="list"></form>
        <form class="list"></form>
        <div>
            <p>IN CASE OF EMERGENCY -If this box is marked you are declaring a state of emergency and you may email anyone your documents in or out of this protected environment of Myfileit. This should only be used In case of an emergency</p>
        </div>
        <form class="list">
            <ion-checkbox name="chkemergency">This is an emergency</ion-checkbox>
            <label class="item item-input" name="emergencyEmailAddress">
                <span class="input-label">Email Address</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" name="emergencyMessage">
                <span class="input-label">Message</span><textarea placeholder="Enter Text Here..."> </textarea>
            </label>
        </form>
        <div class="button-bar">
            <a menu-close="" href="#/page26/sharedocuments" class="button button-positive button-block ">Back</a>
            <a menu-close="" href="#/shareSent" class="button button-positive button-block ">*Share</a>
        </div>
        <p>*The above check box must be checked</p>
        <div>
            <p>
                *You must have a Share Key to use this option unless the above box is marked that there's an state of emergency. You will be able to share document with out paying but you will be billed $3.99 per user per year for a share key
            </p>
        </div>
    </ion-content>
</ion-view>