<ion-view title='Login' view-title="Login" name="login-view">
    <ion-nav-title>
        <fileit-login-header fileit-title="Login" hide-logout="true"></fileit-login-header>
    </ion-nav-title>
    <ion-content padding=" 'true' " scroll="false" class="has-header">
        <form class="list full-height">
            <div class="login-form">
                <img src="images/main-bg.png" />
            </div>
            <div class="clear"></div>
            <ion-list>
                <label class="item item-input" name="username">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="" ng-model="data.username" />
                </label>
                <label class="item item-input" name="password">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="" ng-model="data.password" ng-hide="data.showPasswordIsChecked" />
                    <input type="text" placeholder="" ng-model="data.password" ng-show="data.showPasswordIsChecked" />
                </label>
                <ion-checkbox ng-model="data.showPasswordIsChecked">&nbsp;&nbsp;Show password</ion-checkbox>
            </ion-list>
            <div class="spacer" style="width: 300px; height: 1em;"></div>
            <a menu-close="" href="#/forgotpassword" class="button button-stable button-block ">Forgot Password</a>
            <div class="spacer" style="width: 300px; height: 1em;"></div>
            <div class="spacer" style="width: 300px; height: 1em;"></div>
            <div class="view-bottom1">
                <a menu-close="" ng-click="login()" class="button button-positive button-block ">Log in</a>
                <a menu-close="" href="#/newacount" class="button button-positive button-block ">Or create an account</a>
            </div>

        </form>

    </ion-content>
</ion-view>
