<ion-view title="Login" view-title="Login" name="login-view">
    <ion-content padding=" 'true' " scroll=" false" class="has-header">
    <form class="list">
        <ion-list>

            <label class="item item-input" name="username">
                <span class="input-label">Username</span>
                <input type="text" placeholder=""  ng-model="data.username" />
            </label>
            <label class="item item-input" name="password">
                <span class="input-label">Password</span>
                <input type="password" placeholder="" ng-model="data.password" />
            </label>
        </ion-list>
        <div class="spacer" style="height: 40px;"></div>
        <a menu-close="" ng-click="login()" class="button button-positive button-block ">Log in</a>
        <a menu-close="" href="#/newacount" class="button button-positive button-clear button-block ">Or create an account</a>
        <div class="spacer" style="width: 300px; height: 52px;"></div>
        <a menu-close="" href="#/forgotpassword" class="button button-positive button-clear button-block ">Forgot Password</a>

        <a menu-close="" ng-click="getPhoto()" class="button button-positive button-block ">Get Photo</a>
    </form>
    </ion-content>
</ion-view>