<ion-view title="Main">
    <ion-nav-title>
        <fileit-header fileit-title="Home" hide-logout="false"></fileit-header>
    </ion-nav-title>
    <ion-content padding="'true'" class="has-header">
        <div class="button-bar">
            <a menu-close="" href="#/scandocuments" class="button button-stable button-block">
                <div class="ion-android-add-circle large-icon"></div>
                Scan Documents
            </a>
            <a menu-close="" href="#/shareuserfilterselect" class="button button-stable button-block">
                <div class="ion-android-share-alt large-icon"></div>
                Share Documents
            </a>
        </div>
        <form class="list">
            <ion-item ng-repeat="familyUser in data.familyUsers">
                <i class="medium-icon icon-left ion-ios-person-outline green">&nbsp;</i>
                {{familyUser.FIRSTNAME}}&nbsp;{{familyUser.LASTNAME}}
            </ion-item>
        </form>
        <a menu-close="" href="#/invitefriend" class="button button-positive button-block  icon-left ion-android-add">Invite a Friend</a>
        <a menu-close="" href="#/maincards" class="button button-positive button-block  icon-left ion-android-add">See family cards</a>
        <!--<div class="logo">
            <img src="images/MyFileIT_Icon.png" />
        </div>-->
    </ion-content>
</ion-view>