<ion-view title="Main">
    <ion-content padding="'true'" class="has-header">
        <div class="button-bar">
            <a menu-close="" href="#/scandocuments" class="button button-stable button-block button-small">Scan Documents</a>
            <a menu-close="" href="#/shareuserfilterselect" class="button button-stable button-block button-small">Share Documents</a>
        </div>
        <ion-list>
            <ion-item menu-close="">Item 1</ion-item>
            <ion-item menu-close="">Item 2</ion-item>
            <ion-item menu-close="">Item 3</ion-item>
        </ion-list>
        <a menu-close="" href="#/invitefriend" class="button button-positive button-block  icon-left ion-android-add">Invite a Friend</a>
    </ion-content>
</ion-view>