<ion-view title="Main">
    <ion-content padding="'true'" class="has-header">
        <div class="button-bar">
            <a menu-close="" href="#/scandocuments" class="button button-stable button-block button-small">Scan Documents</a>
            <a menu-close="" href="#/page26/viewdocuments" class="button button-stable button-block button-small">View Documents</a>
        </div>
        <ion-list>
            <ion-item menu-close="">Item 1</ion-item>
            <ion-item menu-close="">Item 2</ion-item>
            <ion-item menu-close="">Item 3</ion-item>

        <a menu-close="" href="#/invitefriend" class="button button-dark button-outline button-block  icon-left ion-android-add">Invite a Friend</a>
    </ion-content>
</ion-view>