<ion-view title="Main">
    <ion-nav-title>
        <fileit-header fileit-title="Home" hide-logout="false"></fileit-header>
    </ion-nav-title>
    <ion-content padding="'true'" class="has-header">
        <h3>Select a Member To Begin</h3>
        <form class="list">
            <ion-item ng-repeat="familyUser in data.familyUsers" class="family-card">
                <!--<div class="family-card">-->
                <a href="#" ng-click="selectUser(familyUser)">
                    <h3>{{familyUser.FIRSTNAME}}&nbsp;{{familyUser.LASTNAME}}</h3>
                    <i class="large-icon icon-left ion-man" ng-show="showSex(familyUser, 'M')"></i>
                    <i class="large-icon icon-left ion-woman" ng-show="showSex(familyUser, 'F')"></i>
                </a>
                <!--</div>-->
                <!--<i class="medium-icon icon-left ion-ios-person-outline green">&nbsp;</i>
                {{familyUser.FIRSTNAME}}&nbsp;{{familyUser.LASTNAME}}-->
            </ion-item>
        </form>
        <a menu-close="" href="#/maintab/main" class="button button-positive button-block  icon-left ion-android-add">Back to Main</a>
    </ion-content>
</ion-view>