<ion-view title="Main" ng-init="reloadRoute()">
    <ion-nav-title>
        <fileit-header fileit-title="Home" hide-logout="false"></fileit-header>
    </ion-nav-title>
    <ion-content padding="'true'" class="has-header">
     
        <div id="mainCards">
            <fieldset>
                <legend>Your Members</legend>
                <h5>Click on a member to begin</h5>
                <form class="list">
                    <ion-item ng-repeat="familyUser in data.familyUsers" class="family-card">
                        <a href="#" ng-click="selectUser(familyUser)">
                            <div class="card-icon">
                                <i class="large-icon icon-left ion-man" ng-show="showSex(familyUser, 'M')"></i>
                                <i class="large-icon icon-left ion-woman" ng-show="showSex(familyUser, 'F')"></i>
                            </div>
                            <div class="bg">
                                <h3>{{familyUser.FIRSTNAME}}<br />{{familyUser.LASTNAME}}</h3>
                            </div>
                        </a>

                    </ion-item>

                    <ion-item class="family-card">

                        <a href="#/addfamilymembers">
                            <i class="large-icon ion-android-add-circle"></i>
                            <div class="">
                                <h3>Add Member</h3>
                            </div>
                        </a>

                    </ion-item>

                </form>
            </fieldset>
        </div>
     
        <sharekey-url user-id="{{data.currentUser.ID}}"></sharekey-url>
        <div ng-show="data.currentUser.RemindUserForSignUp">
            <p>
                MyFile-It is free to upload and save your and families personal documents. There is small per user charge for unlimited sharing their personal documents for a year. MyFile-IT App allows you a 90 day trial period to enjoy all the features including sharing. When you pay for an annual share key subscription you will also get a no ad version.
            </p>
            <p>
                You have {{data.currentUser.DaysLeftInTrial >= 0 ? data.currentUser.DaysLeftInTrial:0}} days left.   MyFile-It is free to upload and save your and families personal documents. There is small per user charge for unlimited sharing their personal documents for a year. MyFile-IT App allows you a 90 day trial period to enjoy all the features including sharing. When you pay for an annual share key subscription you will also get a no ad version.
            </p>
            <h3>
                You have {{data.currentUser.DaysLeftInTrial >= 0 ? data.currentUser.DaysLeftInTrial:0}} days left.
            </h3>
        </div>
        <a menu-close=""
           href="#/teamselectevent"
           class="button button-energized button-block  icon-left ion-person-stalker"
           ng-show="data.currentUser.IsCoach">
            Set Up Team and Players
        </a>
        <a menu-close="" href="#/invitefriend" class="button button-positive button-block  icon-left ion-android-add">Invite a Friend</a>
        
    </ion-content>
</ion-view>