<ion-view title="Main">
    <ion-nav-title>
        <fileit-header fileit-title="{{data.familyUser.FIRSTNAME}} {{data.familyUser.LASTNAME}}" hide-logout="false"></fileit-header>
    </ion-nav-title>
    <ion-content padding="'true'" class="has-header">
        <form class="list">
            <div class="member-card">
                <div style="text-align: right;"
                    <a href="#" class="member-link" ng-click="editMemberProfile()" ng-hide="data.IsCoach">Edit</a>
                </div>
                <div class="header">
                    <h3>{{data.familyUser.FIRSTNAME}}&nbsp;{{data.familyUser.LASTNAME}}</h3>
                    <h4>{{data.familyUser.USERNAME}}</h4>
                    <h5>{{data.familyUser.RelationShipType}} ({{data.familyUser.AppUserStatus}})</h5>
                </div>
                <i class="large-icon ion-man sex" ng-show="showSex(data.familyUser, 'M')"></i>
                <i class="large-icon ion-woman sex" ng-show="showSex(data.familyUser, 'F')"></i>
                <!--<div class="member-thumbs">
                    <ion-item ng-repeat="document in data.documents" class="member-thumb">
                        <a href="#" ng-click="showModal(document)">
                            <img src="data:image/png;base64,{{document.Base64ImageThumb}}" />
                        </a>
                        <div class="item-checkbox image-list">
                            <label class="checkbox">
                                <input type="checkbox"
                                       name="selectedImages[]"
                                       value="{{document.ID}}"
                                       ng-model="document.selected">
                            </label>
                        </div>
                    </ion-item>

                </div>-->

                <div class="member-thumb add">
                    <a href="#" ng-click="getDocument()">
                        <i class="large-icon ion-android-add-circle"></i>
                        <h5>Add Document</h5>
                    </a>
                    <span ng-hide="isCoachVerifying()">
                        <a href="#" ng-click="shareDocuments()" ng-show="hasShareKey(data.familyUser)">
                            <i class="large-icon ion-android-share-alt"></i>
                            <h5>Share Selected</h5>
                        </a>
                        <a href="#" ng-click="associateKey()" ng-hide="hasShareKey(data.familyUser)">
                            <i class="large-icon ion-key"></i>
                            <h5>Add Sharing Key</h5>
                        </a>
                    </span>
                    <a href="#" ng-click="emergencyShare()">
                        <i class="large-icon ion-ios-medkit red"></i>
                        <h5>Emergency Share</h5>
                    </a>
                </div>
                <div class="clear"></div>

                <h5>Click on an image to enlarge it here.</h5>
                <div drag-content="false">
                    <div id="wrapper" ng-show="showLargeImage()">
                        <img ng-src="{{imageSrc}}" class="big-image" />
                    </div>
                </div>
                <div ng-show="showLargeImage()">
                    Pinch and drag to zoom and move the image. Double tap to revert to regular size.
                </div>
                <ion-list>
                    <ion-item class="item-icon-right" ng-repeat="document in data.documents">
                        <div class="item-checkbox image-list">

                            <label class="checkbox image-checkbox">
                                <input type="checkbox"
                                       name="selectedImages[]"
                                       value="{{document.ID}}"
                                       ng-model="document.selected">
                            </label>
                            <span>
                                <a href="#" ng-click="showModal(document)">
                                    <img src="data:image/png;base64,{{document.Base64ImageThumb}}" />
                                </a>
                                <h2>{{document.DocumentTypeName}}</h2>
                                <p>{{document.COMMENT}}</p>
                                <span ng-show="document.VerifiedAppUserName != null">Verified By: {{document.VerifiedAppUserName}}</span>
                            </span>
                        </div>
                        <div class="verify-icon">
                            <button ng-click="verifyDocument(document.ID, document.TeamEventDocumentId)" class="verify-icon" ng-show="showVerify(document)">
                                <!--<i class="ion-thumbsup medium-icon"></i>-->
                                Verify
                            </button>
                            <button ng-click="rejectDocument(document.TeamEventDocumentId)" class="verify-icon" ng-show="showVerify(document)">
                                <!--<i class="ion-thumbsdown medium-icon"></i>-->
                                Reject
                            </button>
                            <button ng-click="deleteDocument(document.DOCUMENTID)" class="verify-icon" ng-show="document.CanDelete">
                                <!--<i class="ion-thumbsdown medium-icon"></i>-->
                                Remove
                            </button>
                        </div>
                    </ion-item>
                   
                </ion-list>

            </div>
        </form>
        <a menu-close=""
           href="#/teamviewplayers"
           ng-show="isCoachVerifying()"
           class="button button-positive button-block  icon-left">Set Up Team and Players</a>
    </ion-content>
</ion-view>