<ion-view title="Main">
    <ion-nav-title>
        <fileit-header fileit-title="{{data.familyUser.FIRSTNAME}} {{data.familyUser.LASTNAME}}" hide-logout="false"></fileit-header>
    </ion-nav-title>
    <ion-content padding="'true'" class="has-header">
        <form class="list">
            <div class="member-card">
                <div class="header">
                    <h3>{{data.familyUser.FIRSTNAME}}&nbsp;{{data.familyUser.LASTNAME}}</h3>
                    <h4>{{data.familyUser.USERNAME}}</h4>
                    <h5>{{data.familyUser.RelationShipType}} ({{data.familyUser.AppUserStatus}})</h5>
                </div>
                <i class="large-icon ion-man sex" ng-show="showSex(data.familyUser, 'M')"></i>
                <i class="large-icon ion-woman sex" ng-show="showSex(data.familyUser, 'F')"></i>
                <!--<div class="member-thumbs">
                    <ion-item ng-repeat="document in data.documents" class="member-thumb">
                        <a href="#" ng-click="showModal(document)">
                            <img src="data:image/png;base64,{{document.Base64ImageThumb}}" />
                        </a>
                        <div class="item-checkbox image-list">
                            <label class="checkbox">
                                <input type="checkbox"
                                       name="selectedImages[]"
                                       value="{{document.ID}}"
                                       ng-model="document.selected">
                            </label>
                        </div>
                    </ion-item>
                    
                </div>-->
                <div class="member-thumb add">
                    <a href="#" ng-click="getDocument()">
                        <i class="large-icon ion-android-add-circle"></i>
                        <h5>Add Document</h5>
                    </a>
                    <a href="#" ng-click="shareDocuments()" ng-show="hasShareKey(data.familyUser)">
                        <i class="large-icon ion-android-share-alt"></i>
                        <h5>Share Selected</h5>
                    </a>
                    <a href="#" ng-click="associateKey()" ng-hide="hasShareKey(data.familyUser)">
                        <i class="large-icon ion-key"></i>
                        <h5>Add Sharing Key</h5>
                    </a>
                    <a href="#" ng-click="emergencyShare()">
                        <i class="large-icon ion-ios-medkit red"></i>
                        <h5>Emergency Share</h5>
                    </a>
                </div>
                <div class="clear"></div>

                <h5>Click on an image to enlarge it.</h5>
                <ion-list>
                    <ion-item class="item-icon-right" ng-repeat="document in data.documents">
                        <div class="item-checkbox image-list">

                            <label class="checkbox image-checkbox">
                                <input type="checkbox"
                                       name="selectedImages[]"
                                       value="{{document.ID}}"
                                       ng-model="document.selected">
                            </label>
                            <span>
                                <a href="#" ng-click="showModal(document)">
                                    <img src="data:image/png;base64,{{document.Base64ImageThumb}}" />
                                </a>
                                <h2>{{document.DocumentTypeName}}</h2>
                                <p>{{document.COMMENT}}</p>
                                <div ng-show="showVerify(document)">
                                    <button ng-click="verifyDocument(document.ID, document.TeamEventDocumentId)" class="medium-button">Verify Document</button>
                                </div>
                            </span>
                        </div>
                    </ion-item>
                </ion-list>

            </div>
        </form>
        <!--<a menu-close="" href="#/maincards" class="button button-positive button-block  icon-left ion-android-add">Back to Members</a>-->
    </ion-content>
</ion-view>