<ion-view title="Main">
    <ion-nav-title>
        <fileit-header fileit-title="{{data.familyUser.FIRSTNAME}} {{data.familyUser.LASTNAME}}" hide-logout="false"></fileit-header>
    </ion-nav-title>
    <ion-content padding="'true'" class="has-header">
        <form class="list">
            <div class="member-card">

                <div>
                    <div class="left">
                        <a href="#" ui-sref="main" class="button button-icon icon ion-android-home"></a>
                    </div>
                    <div ng-hide="isCoachVerifying()" class="right right-text">
                        <a ng-click="editMemberProfile()" class="button button-icon icon ion-edit"></a>
                    </div>
                </div>

                <div class="member-thumb add">
                    <span ng-hide="isCoachVerifying()">
                        <a href="#" ng-click="getDocument()">
                            <i class="large-icon ion-android-add-circle"></i>
                            <h5>Add Document</h5>
                        </a>
                        <a href="#" ng-click="shareDocuments()" ng-show="hasShareKey(data.familyUser) || 0==0">
                            <i class="large-icon ion-android-share-alt"></i>
                            <h5>Share Selected</h5>
                        </a>
                        <a href="#" ng-click="associateKey()" ng-hide="hasShareKey(data.familyUser)">
                            <i class="large-icon ion-key"></i>
                            <h5>Add Sharing Key</h5>
                        </a>
                    </span>
                    <a href="#" ng-click="emergencyShare()">
                        <i class="large-icon ion-ios-medkit red"></i>
                        <h5>Out of Network</h5>
                    </a>
                    <!--ng-show="isCoachVerifying()"-->
                    <span class="right">
                        <table>
                            <tr>
                                <td align="left"><strong>Total Amount:</strong></td>
                                <td align="right">{{totalAmountSelected()}}</td>
                            </tr>
                            <tr>
                                <td align="left"><strong>Amount Selected:</strong></td>
                                <td align="right">{{amountSelected}}</td>
                            </tr>
                        </table>
                    </span>
                </div>
                <div class="clear"></div>
                <div id="large-image-viewer">
                    <!--<h5>Click on an image to enlarge it here.</h5>-->
                    <a class="button button-icon icon ion-android-arrow-dropdown-circle close-large-image positive" href="#" ng-click="hideLargeImage()"></a>
                    <div drag-content="false">
                        <div id="wrapper" ng-show="showLargeImage()">
                            <img ng-src="{{imageSrc}}" class="big-image" />
                        </div>
                    </div>
                    <div ng-show="showLargeImage()" class="large-image-description">
                        Pinch and drag to zoom and move the image. Double tap to revert to regular size.
                    </div>
                </div>
               
                <div class="list">

                    <label class="item item-input item-select">
                        <div class="input-label">
                            Document Type
                        </div>
                        <select ng-model="data.documentTypeFilterId">
                            <option value=""></option>
                            <option value="-999">All Documents</option>
                            <option ng-repeat="documentType in data.documentTypes | filter: documentTypesFilter" value="{{documentType.Key}}">{{documentType.Value}}</option>
                        </select>
                    </label>
                    <span ng-hide="isCoachVerifying()">
                        <label class="item item-input">
                            <span class="input-label">Start Date</span>
                            <input type="date" ng-model="data.startDateFilter">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">End Date</span>
                            <input type="date" ng-model="data.endDateFilter">
                        </label>
                    </span>
                    <ion-checkbox ng-model="data.showThumbs">View thumbnails</ion-checkbox>
                </div>
                <ion-list>
                    <ion-item class="item-icon-right" ng-repeat="document in data.simpleDocuments | filter:doFilter">
                        <div class="item-checkbox image-list relative" id="document-{{document.ID}}">

                            <label class="checkbox image-checkbox">
                                <input type="checkbox"
                                       name="selectedImages[]"
                                       value="{{document.ID}}"
                                       ng-model="document.selected"
                                       ng-change="setAmountSelected()">
                            </label>
                            <span ng-click="showModalCall(document)">
                                <a href="#" ng-click="showModal(document)" ng-show="data.showThumbs">
                                    <img class="thumbnail" src="data:image/png;base64,{{document.Base64ImageThumb}}" />
                                </a>
                                <h2 class="right">{{displayAmount(document.AMOUNT)}}</h2>
                                <h2>{{document.DocumentTypeName}}</h2>

                                <div>{{document.COMMENT}}</div>
                                <div>
                                    <span><a href="#">View Full Size</a></span>
                                </div>
                            </span>
                        </div>

                    </ion-item>

                </ion-list>

            </div>
        </form>
        <a menu-close=""
           href="#/teamviewplayers"
           ng-show="isCoachVerifying()"
           class="button button-energized button-block  icon-left ion-person-stalker">Organization and Staff Members</a>
    </ion-content>
</ion-view>