<ion-view title="New Account">
    <ion-nav-title>
        <fileit-login-header fileit-title="New Account" hide-logout="true"></fileit-login-header>
    </ion-nav-title>
    <ion-content padding="'true'" scroll="false" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input" name="NewEmail">
                    <input type="text" placeholder="Parent / Guardian Email" ng-model="data.userName">
                </label>
                <label class="item item-input" name="NewPassword">
                    <input type="password" placeholder="Password" ng-model="data.password">
                    
                </label>
                <span>Password must be 8 characters long and contain at least one digit</span>
                <label class="item item-input" name="NewPasswordConfirm">
                    <input type="password" placeholder="Re-Enter Password" ng-model="data.confirmPassword">
                </label>
            </ion-list>
        </form>
        <div class="button-bar">
            <a menu-close="" href="#/login" class="button button-positive button-block ">Back</a>
            <a menu-close="" href="#" class="button button-positive button-block " ng-click="addAccountUserName()">Continue</a>
        </div>
    </ion-content>
</ion-view>