<ion-view title="New Account">
    <ion-content padding="'true'" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input" name="firstname">
                    <input type="text" placeholder="First Name" ng-model="data.firstName">
                </label>
                <label class="item item-input" name="lastname">
                    <input type="text" placeholder="Last Name" ng-model="data.lastName">
                </label>
            </ion-list>
            <ion-checkbox name="primaryaccountholder" ng-model="data.primaryAccountHolder">Primary Account Holder</ion-checkbox>
            <div>
                Primary account holder must be over 18
            </div>
            <label ng-repeat="relationShipType in data.relationShipTypes">
                {{relationShipType.Value}}
            </label>
            <label class="item item-select" name="relationship">
                <span class="input-label">Relationship</span>
                <select ng-model="data.relationShipTypeId">
                    <option ng-repeat="relationShipType in data.relationShipTypes" value="{{relationShipType.Key}}">{{relationShipType.Value}}</option>
                </select>
            </label>
            <label class="item item-input" name="phonenumber">
                <input type="text" placeholder="Mobile Phone Number" ng-model="data.phoneNumber">
            </label>
            <div>
                Must have a primary account holder's phone number
            </div>

            <label class="item item-select" name="usertype">
                <span class="input-label">Type of User</span>
                <select ng-model="data.appUserTypeId">
                    <option ng-repeat="appUserType in data.appUserTypes" value="{{appUserType.Key}}">{{appUserType.Value}}</option>
                </select>
            </label>
            <label class="item item-select" name="sex">
                <span class="input-label">Sex</span>
                <select ng-model="data.sex">
                    <option value=""></option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                </select>
            </label>
        </form>
        <form>
            <label class="item item-input">
                <span class="input-label">Organization Search</span>
                <input type="text" placeholder="" ng-model="data.organizationSearch" ng-change="searchOrganizations()">
            </label>
            <label ng-repeat="organization in data.organizations">
                <ion-radio ng-model="data.organizationId" ng-value="organization.ID">{{organization.NAME}}</ion-radio>
            </label>
        </form>
        <a menu-close="" href="#" class="button button-positive button-block  button-full" ng-click="addAccountUser()">Save and Setup Your Account</a>
        <a menu-close="" href="#/newacount" class="button button-positive button-block ">Back</a>
    </ion-content>
</ion-view>