<ion-view title="NewAccountProfile">
    <ion-content padding="'true'" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input" name="firstname">
                    <input type="text" placeholder="First Name">
                </label>
                <label class="item item-input" name="lastname">
                    <input type="text" placeholder="Last Name">
                </label>
            </ion-list>
            <ion-checkbox name="primaryaccountholder">Primary Account Holder</ion-checkbox>
        </form>
        <div>
            Primary account holder must be over 18
        </div>
        <form class="list">
            <label class="item item-select" name="relationship">
                <span class="input-label">Relationship</span>
                <select></select>
            </label>
            <label class="item item-input" name="phonenumber">
                <input type="text" placeholder="Mobile Phone Number">
            </label>
        </form>
        <a menu-close="" href="#/maintab/main" class="button button-positive button-block  button-full">Save and Setup Your Account</a>
        <div>
            Must have a primary account holder's phone number
        </div>
        <form class="list">
            <label class="item item-input" name="emailaddress">
                <input type="text" placeholder="Email Address">
            </label>
            <label class="item item-select" name="usertype">
                <span class="input-label">Type of User</span>
                <select></select>
            </label>
            <ion-checkbox>Checkbox</ion-checkbox>
            <label class="item item-input">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
        </form>
    </ion-content>
</ion-view>