<ion-view title="Settings">
    <ion-content padding="'true'" class="has-header">
        <a menu-close="" href="#/sharingkeymanagement" class="button button-positive button-block  icon-left ion-android-lock">Sharing Key Management</a>
        <a menu-close="" href="#/editaccountlogin" class="button button-positive button-block  icon-left ion-wrench">Edit Account Login</a>
        <a menu-close="" href="#/editaccountuser" class="button button-positive button-block  icon-left ion-person">Edit Account User Profile</a>
        <a menu-close="" href="#/setupteam" class="button button-positive button-block  icon-left ion-person-stalker">Set Up Team and Players</a>
        <a menu-close="" href="#/scannersettings" class="button button-positive button-block  icon-left ion-settings">Scanner Settings</a>
    </ion-content>
</ion-view>