<ion-view title="Associate Your Documents">
    <ion-nav-title>
        <fileit-header fileit-title="Associate Your Documents" hide-logout="false"></fileit-header>
    </ion-nav-title>
    <ion-content padding="'true'" class="has-header">
        <form class="list">
            <p>Please associate your selected documents with the event requirements. Click on "Match" to select the correct image.</p>
            <ion-item ng-repeat="document in data.eventDocuments">
                <div class="image-list">
                    <a href="#" ng-click="associateImage({{document.ID}})" ng-hide="document.associated">
                        <i class="icon ion-share large-icon"></i>
                        <div>Match</div>
                    </a>
                    <img src="data:image/png;base64,{{document.Base64ImageThumb}}" ng-show="document.associated" />
                </div>
                <div class="left">
                    <h2>{{document.DOCUMENTNAME}}</h2>
                    <a class="button button-stable button-block " ng-click="undoAssociate({{document.ID}})" ng-show="document.associatedAllowUndo">
                        Undo
                    </a>
                    <p ng-show="document.alreadyAssociated">Already Associated</p>
                </div>
                <div class="clear"></div>
            </ion-item>
        </form>

        <div class="button-bar">
            <a menu-close="" href="#/shareeventselect" class="button button-positive button-block">Back</a>
            <a menu-close="" href="#" class="button button-positive button-block" ng-click="goToConfirm()">Next</a>
        </div>
    </ion-content>
</ion-view>