<ion-view title="Sharing Key Management">
    <ion-nav-title>
        <fileit-header fileit-title="Sharing Key Management" hide-logout="false"></fileit-header>
    </ion-nav-title>
    <ion-content padding="'true'" scroll="true" class="has-header">
        <sharekey-url user-id="{{data.currentUser.ID}}"></sharekey-url>
        <form class="list">
            <ion-list></ion-list>
            <label class="item item-input" name="sharekeyCoupon">
                <span class="input-label">Share Key Coupon</span>
                <input type="text" placeholder="" ng-model="data.promocode" ng-change="searchKeys()">
            </label>
        </form>
        <form class="list">
            <div>
                <h3>
                    Share keys not used
                </h3>
            </div>
            <ion-item ng-repeat="sharekey in data.shareKeys">
                <div class="left">
                    <i class="medium-icon icon-left ion-key left">&nbsp;</i>
                </div>
                <div class="left">
                    {{sharekey.AppUserName}}
                    <a class="button button-stable button-block" ng-click="selectShareKeyUser({{sharekey.ID}})">
                        Select a Family Member
                    </a>
                </div>
            </ion-item>
        </form>
        <form class="list">
            <div>
                <p>Some organization particular in MyFile-It programs where your organization would provide you with a Share Key Coupon if not you must purchase one if you want to share your documents.</p>
            </div>
            <a menu-close="" href="#" class="button button-positive button-block  icon-left ion-checkmark" ng-click="updateShareKeys()">Apply Changes</a>
            <a menu-close="" href="#/main" class="button button-positive button-block ">Back</a>
            <h3>Members with keys</h3>
            <ion-item ng-repeat="familyUser in data.familyUsers" ng-show="familyUser.show">
                <i class="medium-icon icon-left ion-ios-person-outline green">&nbsp;</i>
                {{familyUser.FIRSTNAME}}&nbsp;{{familyUser.LASTNAME}}
            </ion-item>
        </form>
    </ion-content>
</ion-view>