<ion-view title="Select Documents">
    <ion-content padding="'true'" class="has-header">
        <form class="list">
            <label class="item item-input" name="searchDocuments">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search Documents" ng-model="data.searchString" ng-change="searchDocuments()">
            </label>
        </form>
        <ion-list>
            <ion-item class="item-icon-right" ng-repeat="img in data.searchImages">
                <div class="item-checkbox image-list">
                    <label class="checkbox">
                        <input type="checkbox" checklist-model="data.selectedImages" checklist-value="img.ID">
                    </label>
                    <span>
                        <img src="data:image/png;base64,{{img.Base64Image}}"/>
                        <h2>{{img.DocumentTypeName}}</h2>
                        <p>{{img.COMMENT}}</p>
                    </span>
                </div>
            </ion-item>

                        <!--<ion-item ng-repeat="img in data.searchImages" menu-close="" class="item-thumbnail-left">
                           
                            <img src="data:image/png;base64,{{img.Base64Image}}">
                            <h2>{{img.DocumentTypeName}}</h2>
                            <p>{{img.COMMENT}}</p>
                        </ion-item>-->

        </ion-list>
        <div class="button-bar">
            <a menu-close="" href="#/shareuserselect" class="button button-positive button-block">Back</a>
            <a menu-close="" href="#" class="button button-positive button-block" ng-click="goToEventSelect()">Next</a>
        </div>
    </ion-content>
</ion-view>

