<ion-view title="Select a User Filter">
    <ion-nav-title>
        <fileit-header fileit-title="Select a User Filter" hide-logout="false"></fileit-header>
    </ion-nav-title>
    <ion-content padding="'true'" class="has-header">

        <div class="button-bar">
            <a menu-close="" href="#/maintab/main" class="button button-positive button-block">Back</a>
            <a menu-close="" href="#" class="button button-positive button-block" ng-click="goToSelectUser()">Next</a>
        </div>
    </ion-content>
</ion-view>
