<ion-view title="Select a Member">
    <ion-nav-title>
        <fileit-header fileit-title="Select a Member" hide-logout="false"></fileit-header>
    </ion-nav-title>
    <ion-content padding="'true'" class="has-header">
        <div>
            <p>
                Select the family member you are sharing documents for.
            </p>
        </div>
        <label ng-repeat="familyUser in data.familyUsers">
            <ion-radio ng-model="data.familyUserId" ng-value="familyUser.ID">{{familyUser.FIRSTNAME}}&nbsp;{{familyUser.LASTNAME}}</ion-radio>
        </label>
        <div class="button-bar">
            <a menu-close="" href="#/shareuserfilterselect" class="button button-positive button-block">Back</a>
            <a menu-close="" href="#" class="button button-positive button-block" ng-click="goToDocumentSelect()">Next</a>
        </div>
    </ion-content>
</ion-view>

