<ion-view title="Share Documents">
    <ion-nav-title>
        <fileit-header fileit-title="Share Documents" hide-logout="false"></fileit-header>
    </ion-nav-title>
    <ion-content padding="'true'" class="has-header">
        <div>
            <p>
                Please associate your image to the required event document.
            </p>
        </div>
        <ion-list>
            <ion-item menu-close="">Event1</ion-item>
            <ion-item menu-close="">Soccer Tournamanet</ion-item>
            <ion-item menu-close="">Football Doctor Note</ion-item>
        </ion-list>
        <a menu-close="" href="#/confirmdocumentshare" class="button button-positive button-block ">Confirm Share</a>
        <a menu-close="" href="#/emergencyShare" class="button button-assertive button-block ">Emergency Share</a>
    </ion-content>
</ion-view>