<ion-view title="Team Players">
    <ion-nav-title>
        <fileit-header fileit-title="Team Players" hide-logout="false"></fileit-header>
    </ion-nav-title>
    <ion-content padding="'true'" class="has-header">
        <div class="button-bar">
            <a menu-close="" href="#" class="button button-stable button-block" ng-click="goUploadPlayers()">
                <div class="ion-android-add-circle large-icon"></div>
                <h5>Add Player</h5> 
                <h5>Already Uploaded</h5>
            </a>
            <a menu-close="" href="#/teamaddnew" class="button button-stable button-block">
                <div class="ion-android-search large-icon"></div>
                <h5>Find Player</h5>
            </a>
        </div>
        <h3>{{data.organization.NAME}}</h3>
        <h4>{{data.teamEvent.NAME}}</h4>
        <h5>{{displayDate(data.teamEvent.STARTDATE)}} - {{displayDate(data.teamEvent.EXPIRESDATE)}}</h5>
        <div class="italic"><i class="medium-icon icon-left ion-wrench">&nbsp;</i> indicates that a user requires document verification.</div>
        <form class="list">
            <ion-item ng-repeat="player in data.players">
                <i class="medium-icon icon-left ion-man" ng-show="showSex(player,'M')">&nbsp;</i>
                <i class="medium-icon icon-left ion-woman" ng-show="showSex(player, 'F')">&nbsp;</i>

                {{player.PlayerName}}
                <div class="right margin-bottom">
                    <i class="medium-icon icon-left ion-wrench red" ng-show="player.RequiresVerification">&nbsp;</i>
                    <button ng-click="viewPlayer(player)" class="small-button">View</button>
                </div>
                <div class="clear"></div>
                <button ng-click="removePlayer(player.ID)" class="right margin-bottom small-button" >Remove</button>
                
               
            </ion-item>
        </form>

        <div class="button-bar">
            <a menu-close="" href="#/main" class="button button-positive button-block ">Back</a>
        </div>
    </ion-content>
</ion-view>