<ion-view title="Select an Event">
    <ion-nav-title>
        <fileit-header fileit-title="Select an Event" hide-logout="false"></fileit-header>
    </ion-nav-title>
    <ion-content padding="'true'" class="has-header">
        <h3>Please Select an Event</h3>
        <!--<form class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <span class="input-label">Event Search</span>
                <input type="text" placeholder="" ng-model="data.eventSearch" ng-change="searchEvents()">
            </label>
        </form>-->
        <form class="list">
            <ion-list>
                <label ng-repeat="event in data.teamEvents">
                    <ion-radio ng-model="data.teamEvent" ng-value="event"><span class="bold">{{event.NAME}}</span>&nbsp;<span class="italic">{{event.OrganizationName}}</span></ion-radio>
                </label>
            </ion-list>
        </form>
        <div class="button-bar">
            <!--<a menu-close="" href="#/teamselectorganization" class="button button-positive button-block ">Back</a>-->
            <a menu-close="" href="#" class="button button-positive button-block " ng-click="viewPlayers()">Continue</a>
        </div>
    </ion-content>
</ion-view>