<ion-view title="Confirm Document Share">
    <ion-content padding="'true'" class="has-header">
        <h4>You are going share ## Documents with organization&gt;, team/event&gt;</h4>
        <div>
            <p>*Unless you declare Document emergency you only may share with user that are register.</p>
        </div>
        <ion-list>
            <ion-item menu-close="">Item 1</ion-item>
            <ion-item menu-close="">Item 2</ion-item>
            <ion-item menu-close="">Item 3</ion-item>
        </ion-list>
        <div>
            <p>
                Message with the share
            </p>
        </div>
        <form class="list">
            <label class="item item-input" name="shareComment">
                <span class="input-label">Text</span><textarea placeholder="enter text..."> </textarea>
            </label>
        </form>
        <a menu-close="" href="#/shareSent" class="button button-positive button-block ">Confirm</a>
        <a menu-close="" href="#/page26/sharedocuments" class="button button-positive button-block ">Back</a>
    </ion-content>
</ion-view>